# Because 'npm version patch' will, by default, do a git commit with a version tag!
# I want to update the version and THEN run my own build command that uses the version value from package.json.
# THEN I will run commit myself. I don't want 'npm version' to do it.
git-tag-version=false
